.project-card{
    background-color: hsla(32, 100%, 50%, 0.356);
    max-width: 40rem;
    border-radius: 50px;
    cursor: pointer;
    flex: 0.5;
}
.project-card-grid{
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 0fr;
}
.project-card-grid > div{
    overflow: hidden;
}

.project-card-grid:hover{
    grid-template-rows: 1fr;
}
