.project-container{
    background-color: hsla(125, 100%, 50%, 0.356);
    width: 100%;
    height: 125vh;
}

.projects{
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: 300px 300px 300px; 
    gap: 1rem;
    padding: 0.5rem;
    
}