.project-card{
    background-color: hsla(32, 100%, 50%, 0.356);
    max-width: 40rem;
    max-height: 8rem;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 2rem;
    transition: max-height 0.25s ease-in;
}
.project-card-grid{
    margin-top: 3rem;

    padding: 1rem;
    overflow: hidden;
}
.project-card > h1{
    margin-bottom: 0;
    margin-top: 0;
}

.project-card:hover{
    max-height: fit-content;
    transition: max-height 0.25s ease-in;
}

